body {
    font-family: Arial, sans-serif;
    background: #f6f7f9;
    background: #fa9a0a13;
    color: #2b2b2b;
}

/* CONTAINER */
.blog-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    align-items: stretch; /* 🔥 FIX */
}

/* LEFT */
.blog-left {
    width: 70%;
    padding-right: 100px;
}

/* RIGHT */
.blog-right {
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* TEXT */
.blog-breadcrumb {
    font-size: 13px;
    color: #8a8a8a;
}

.blog-title {
    font-size: 38px !important;
    font-weight: 700;
    margin: 10px 0 15px;
}

.blog-intro {
    font-size: 14px;
    color: #666;
}

.blog-intro a {
    color: #ffb703;
    text-decoration: none;
}

/* AUTHOR */
.blog-author {
    display: flex;
    gap: 12px;
    margin: 20px 0 50px;
}

.blog-author img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    background-color: #FFB703;
    border-radius: 50%;
}

.blog-author p {
    margin: 0 !important;
    line-height: normal !important;
    color: gray;
}

/* CONTENT */
.blog-subtitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.keyword-list {
    padding-left: 50px !important;
}

.keyword-list li {
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 18px !important;
    margin-left: 20px;
    position: relative;
    list-style: none !important;
    color: #333;
}
.keyword-list li::before {
    content: "■";
    font-size: 15px;
    color: #ffb703;
    position: absolute;
    left: -30px;
    top: 0px;
}

/* .keyword-list li::marker {
    color: #ff9800;
} */

.blog-left p {
    font-size: 18px !important;
    line-height: 1.8;
    margin-bottom: 14px;
}

.blog-main-img {
    width: 100%;
    border-radius: 6px;
    margin: 20px 0;
}

.highlight {
    color: #ffb703;
    font-weight: bold;
}

/* CARD */
.blog-card {
    background: #fff;
    border-radius: 12px;
    padding: 22px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
}

/* CTA */
.blog-cta {
    text-align: center;
    background: linear-gradient(135deg, #ffb703, #fa9a0a);
    padding: 50px 20px;
    border-radius: 12px;
}

.blog-cta h2 {
    font-size: 32px;
    color: #111;
    margin-bottom: 10px;
}

.blog-cta span {
    color: #fff;
}

.cta-line {
    width: 80px;
    height: 3px;
    background: #fff;
    margin: 10px auto 20px;
    border-radius: 5px;
}

.blog-cta p {
    max-width: 600px;
    margin: 0 auto 25px;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
}

/* FORM */
.blog-cta-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.blog-cta-form input[type="text"],
.blog-cta-form input[type="email"] {
    padding: 12px 15px;
    width: 100%;
    max-width: 350px;
    border: none;
    border-radius: 6px;
    outline: none;
}

.blog-cta-form input[type="submit"] {
    padding: 12px;
    width: 100%;
    max-width: 350px;
    font-size: medium;
    border: none;
    border-radius: 6px;
    background: #111;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.blog-cta-form input[type="submit"]:hover {
    background: #000;
}

/* TOC */
.blog-toc {
    position: sticky;
    top: 120px;
}

.blog-toc h4,
.blog-about h4 {
    font-size: 22px !important;
}

.blog-toc ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid #FFB703;
    padding-top: 20px;
}

.blog-toc li {
    font-size: 18px !important;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    cursor: pointer;
}

.blog-toc li:hover {
    color: #ffb703;
}

.blog-toc li::before {
    content: "■";
    font-size: 15px;
    color: #ffb703;
    position: absolute;
    left: -5px;
    top: 0px;
}

.blog-toc a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* ABOUT */
.about-main {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.about-main img {
    width: auto;
    height: 30px;
}

.about-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.about-row img {
    width: 40px;
}

/* CLIENTS */
.client-heading-and-image {
    display: flex;
    align-items: center;
    gap: 20px;
}

.client-heading-and-image h4 {
    font-size: 22px !important;
}

.clients-banner {
    width: 40px;
    margin: 10px 0;
}

.blog-clients-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog-clients-grid img {
    width: auto;
    height: 20px;
    opacity: 0.7;
}

/* NEIL */
.blog-neil-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.blog-neil-box-img-and-text {
    display: flex;
    gap: 20px;
}

.blog-neil-box img {
    width: 60px;
    height: 60px;
    border: 3px solid #FFB703;
    border-radius: 50%;
}

/* AUTHOR BOX */
.conclusion-author-box {
    display: flex;
    gap: 20px;
    padding: 20px 30px 20px 0;
}

.conclusion-author-img-container img {
    height: 200px;
    background: #FFB703;
}

.conclusion-author-right-text-container h2 {
    color: #FFB703;
    font-size: 30px !important;
}

/* FAQ */
.blog-faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-faq-box {
    padding: 20px;
    background-color: #023047;
    border-radius: 10px;
}
.blog-faq-box h3 ,.blog-faq-box p{
    color: white;
}
.blog-faq-box h3 a{
    color: #FFB703;
}

/* RESPONSIVE */
@media(max-width: 900px) {
    .blog-container {
        flex-direction: column;
    }

    .blog-left,
    .blog-right {
        width: 100%;
    }

    .blog-toc {
        position: relative;
        top: 0;
    }
}

@media(max-width:768px) {
    .conclusion-author-box {
        flex-direction: column;
    }
}

/* LINKS */
p a {
    color: #ffb703;
}
span {
    font-family: amazon-ember-regular !important;
} 