body {
  font-family: Arial, sans-serif;
  background: #f6f7f9;
  color: #2b2b2b;
}

.blog-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 40px 20px;
}

/* LEFT */
.blog-left {
  /* flex: 2; */
  width: 70%;
  height: fit-content;
}

.blog-breadcrumb {
  font-size: 13px;
  color: #8a8a8a;
}

.blog-title {
  font-size: 38px !important;
  font-weight: 700;
  margin: 10px 0 15px;
}

.blog-intro {
  font-size: 14px;
  color: #666;
}

.blog-intro a {
  color: #ff5a2c;
  text-decoration: none;
}

.blog-author {
  display: flex;
  gap: 12px;
  margin: 20px 0 50px;
}

.blog-author img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  background-color: #fa9a0a;
}
.blog-author p{
    margin: 0 !important;
    line-height: normal !important;
    color: gray;
}
.blog-subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.keyword-list {
  padding-left: 20px;
}

.keyword-list li {
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 18px !important;
  margin-left: 20px;
  list-style: disc !important;
  color: #333;
}

/* bullet color change */
.keyword-list li::marker {
  color: #ff9800; /* apna color yahan change karo */
}
.blog-left p {
    font-size: 18px !important;
  line-height: 1.8;
  margin-bottom: 14px;
}

.blog-main-img {
  width: 100%;
  border-radius: 6px;
  margin: 20px 0;
}

.highlight {
  color: #ff5a2c;
  font-weight: bold;
}

/* RIGHT */
.blog-right {
  /* flex: 1; */
  width: 30%;height: fit-content;
}

/* CARD */
.blog-card {
  background: #fff;
  border-radius: 12px;
  padding: 22px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

/* CTA */
.blog-cta {
  text-align: center;
  background: linear-gradient(135deg, #ffb703, #fa9a0a);
  padding: 50px 20px;
  border-radius: 12px;
}

.blog-cta h2 {
  font-size: 32px;
  color: #111;
  margin-bottom: 10px;
}

.blog-cta span {
  color: #fff;
}

.cta-line {
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 10px auto 20px;
  border-radius: 5px;
}

.blog-cta p {
  max-width: 600px;
  margin: 0 auto 25px;
  color: #222;
  font-size: 16px;
  line-height: 1.5;
}

/* FORM ROW DESIGN */
.blog-cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

/* INPUT STYLE */
.blog-cta-form input[type="text"] {
  padding: 12px 15px;
  width: 100%;
  border: none;
  border-radius: 6px 0px 0px 6px;
  outline: none;
}

/* BUTTON STYLE */
.blog-cta-form input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 0px 06px 06px 0px;
  background: #111;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.blog-cta-form input[type="submit"]:hover {
  background: #000;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  
  .blog-cta-form input[type="text"]{
    width: 80%;
    max-width: 320px;
  }
  .blog-cta-form input[type="submit"] {
    width: fit-content;
    padding: 10px;
  }
}


.blog-toc h4,.blog-about h4{
    font-size: 22px !important;
}
/* TOC */
.blog-toc ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #fa9a0a;
  padding-top: 20px;
}

.blog-toc li {
  font-size: 18px !important;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}

.blog-toc li::before {
  content: "■";
  font-size: 8px;
  color: #ff5a2c;
  position: absolute;
  left: 0;
  top: 5px;
}

/* ABOUT */
.about-main {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}

.about-main img {
  width: 45px;
}

.about-row {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.about-row img {
  width: 40px;
}

/* CLIENTS */
.client-heading-and-image{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.client-heading-and-image h4{
    font-size: 22px !important;
    margin-top: 5px;
}
.clients-banner {
  width: 40px;
  margin: 10px 0;
}

.blog-clients-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.blog-clients-grid img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.7;
}

/* NEIL */
.blog-neil-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}
.blog-neil-box-img-and-text{
    display: flex;
    justify-content: flex-start;

    align-items: flex-start;
    gap: 20px;
}

.blog-neil-box img {
  width: 60px;
  height: 60px;
  border: 3px solid #fa9a0a;
}

/* RESPONSIVE */
@media(max-width: 900px){
  .blog-container {
    flex-direction: column;
  }
}
.blog-heading{
    margin: 30px 0;
    font-size: 30px !important;
    color: #000;
}
.conclusion-author-box{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 30px;
    padding-left: 0;
}
.conclusion-author-img-container{
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conclusion-author-img-container img{
    height: 100%;
    width: auto;
    object-fit: contain;
    background: #fa9a0a;
}
.conclusion-author-right-text-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.conclusion-author-right-text-container span{
    font-size: small !important;
    width: 100%;
}
.conclusion-author-right-text-container h2{
    color: #fa9a0a;
    width: 100%;
    text-align: left;
    font-size: 30px !important;
    margin: 10px 0;
}
.conclusion-author-right-text-container h4{
    width: 100%;
    text-align: left;
    font-size: 15px !important;
    margin: 0px 0 20px ;
}
.conclusion-author-right-text-container p{
    width: 100%;
    text-align: left;
    font-size: x-small !important;
}
@media(max-width:768px){
    .conclusion-author-box{
        flex-direction: column;
    }
}